@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(10, 10, 30, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 74px;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(10, 10, 30, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  background: rgba(10, 10, 30, 1);
  border: 1px solid rgba(160, 32, 240, 1);
  box-shadow: 4px 4px 15px 0px rgba(160, 32, 240, 0.3),
    2px 2px 10px 15px rgba(212, 0, 255, 0.05);
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 457px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 0px 30px;
  gap: 28px;
  background: rgba(10, 10, 30, 1);
  border-width: 0px 0px 1px 1px;

  border-style: solid;

  border-color: rgba(160, 32, 240, 1);
  box-shadow: 4px 4px 15px 0px rgba(160, 32, 240, 0.3),
    2px 2px 10px 15px rgba(212, 0, 255, 0.05);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(244, 244, 244, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header__button-wrapper {
    display: none;
  }
  .header {
    width: 100%;

    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(10, 10, 30, 1);
    border-bottom: 1px solid rgba(160, 32, 240, 1);
    box-shadow: 2px 2px 10px 15px rgba(212, 0, 255, 0.05),
      4px 4px 15px 0px rgba(160, 32, 240, 0.3);

    z-index: 1000;
  }
  .header__background {
    background-color: transparent;
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    border-color: transparent;
    box-shadow: none;
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

    color: rgba(244, 244, 244, 1);
    padding: 0px 24px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 875px;

  padding: 189px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  max-width: 468px;
  height: 211px;
}

.home-text {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: center;

  padding: 44px 0;
}
.home__google-button_image {
  width: 212px;
  height: 62px;
  box-shadow: 2px 2px 80px 10px rgba(255, 0, 255, 0.6),
    0px 0px 50px 5px rgba(255, 0, 127, 0.2);

  border-radius: 10px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 1024px;
    padding: 200px 361px 0px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .home-title {
    width: 468px;
    height: 325px;
  }

  .home-text {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;

    padding: 58px 0;
  }
}
.uniqueness {
  width: 375px;
  height: 706px;
  margin: auto;
  padding: 40px 28px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Our\ Uniqueness.png");
}
.uniqueness-title {
  text-shadow: 2px 2px 20px rgba(57, 255, 20, 1),
    -2px -2px 20px rgba(57, 255, 20, 1);
}
.uniqueness-text {
  padding-top: 32px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    background-image: url("/img/Our\ Uniqueness\ \(1\).png");
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 1440px;
    height: 540px;

    padding: 138px 120px 0 562px;
  }

  .uniqueness-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-top: 48px;
    text-align: left;
  }
}
.about {
  padding: 40px 28px 0px;
  margin: auto;
  width: 375px;
  height: 1049px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}

.about-title {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 20px rgba(255, 0, 127, 1),
    -2px -2px 20px rgba(255, 0, 127, 1);
}

.about-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 138px 120px 0 511px;
    width: 1440px;
    height: 616px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }

  .about-title {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 48px 0 0;
  }
  .about-text-bold {
    font-family: Lora;
    font-size: 22px;
    font-weight: 600;
    line-height: 30.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.why {
  width: 375px;
  margin: auto;
}
.why-title {
  text-shadow: 2px 2px 20px rgba(57, 255, 20, 1),
    -2px -2px 20px rgba(57, 255, 20, 1);
}
.why-div {
  border-radius: 10px;
  padding-top: 32px;
  padding-right: 20px;
  padding-bottom: 32px;
  padding-left: 20px;
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
  }
  .why-img {
    content: url("/img/Group\ \(1\).png");
  }
  .why-div {
    border-radius: 10px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
    padding-left: 48px;
    gap: 32px;
  }
}
.how {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
  background-image: url("/img/how/How\ to\ Play.png");
}
.how-title {
  text-shadow: 2px 2px 20px rgba(255, 69, 0, 1),
    -2px -2px 20px rgba(255, 69, 0, 1);
}
.how-list {
  padding-top: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-item {
  width: 335px;
  height: 224px;
  padding-right: 36px;
  padding-bottom: 24px;
  padding-left: 36px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(57, 57, 57, 1);
  backdrop-filter: blur(50px);
}
.how-img {
  margin: auto;
  margin-bottom: -30px;
}
.how-text-bold {
  padding: 0px 0 16px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.how-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 792px;
    margin: auto;
    padding: 90px 72px;
    background-image: url("/img/how/How\ to\ Play\ \(1\).png");
  }
  .how-list {
    padding-top: 48px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .how-item {
    width: 418px;
    height: 224px;
    padding-right: 36px;
    padding-bottom: 24px;
    padding-left: 36px;
    border-radius: 10px;
  }
  .how-img {
    margin: auto;
    margin-bottom: -20px;
  }
  .how-text-bold {
    padding: 0px 0 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
  }
  .how-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.75px;
    text-align: center;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}
.gallery-title {
  text-shadow: 2px 2px 20px rgba(255, 153, 0, 1),
    -2px -2px 20px rgba(255, 153, 0, 1);
}
.reviews-title {
  text-shadow: 2px 2px 20px rgba(255, 0, 255, 1),
    -2px -2px 20px rgba(255, 0, 255, 1);
}
.reviews-list {
  padding-top: 32px;
}
.reviews-item {
  margin: 0 5px;
  width: 309px;
  height: 184px;
  border-radius: 10px;
  border: 1px solid rgba(160, 32, 240, 1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  box-shadow: 4px 4px 4px 0px rgba(212, 0, 255, 0.2),
    -2px -2px 20px 0px rgba(160, 32, 240, 0.2);
  padding: 24px 16px;
}
.reviews-item-two {
  backdrop-filter: blur(50px);
  box-shadow: 4px 4px 4px 0px rgba(255, 0, 255, 0.2),
    -2px -2px 20px 0px rgba(255, 0, 127, 0.2);
  border: 1px solid rgba(255, 0, 127, 1);
}
.reviews-item-three {
  backdrop-filter: blur(50px);
  box-shadow: 4px 4px 4px 0px rgba(0, 255, 0, 0.2),
    -2px -2px 20px 0px rgba(57, 255, 20, 0.2);
  border: 1px solid rgba(57, 255, 20, 1);
}
.reviews-item-four {
  backdrop-filter: blur(50px);
  box-shadow: 4px 4px 4px 0px rgba(255, 153, 0, 0.2),
    -2px -2px 20px 0px rgba(255, 69, 0, 0.2);
  border: 1px solid rgba(255, 69, 0, 1);
}
.reviews-item-five {
  backdrop-filter: blur(50px);
  box-shadow: 4px 4px 4px 0px rgba(255, 215, 0, 0.2),
    -2px -2px 20px 0px rgba(255, 255, 0, 0.2);
  border: 1px solid rgba(255, 255, 0, 1);
}
.reviews-text-bold {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}
.reviews-lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 90px 92px;
  }
  .reviews-lists {
    display: flex;
    padding-top: 48px;
  }

  .reviews-item {
    margin: 15px;
  }
}

.faq {
  padding: 32px 20px 0px;
  margin: auto;
  width: 375px;
  height: 775px;

  background-image: url("/img/faq/FAQ\ mobile.png");
}
.faq-title {
  text-shadow: 2px 2px 20px rgba(0, 153, 255, 1),
    -2px -2px 20px rgba(0, 153, 255, 1);
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.faq-item {
  padding: 8px 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(57, 57, 57, 1);
  backdrop-filter: blur(50px);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 90px 72px 50px;
    width: 1440px;
    height: auto;
    min-height: 595px;
    background-image: url("/img/faq/FAQ.png");
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .faq-container {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  .faq-item {
    width: 614px;
  }

  .faq-question {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .faq-answer {
    display: none;
    padding-top: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}

.gallery__list {
  padding: 32px 0 0;
}
.gallery__item {
  width: 80px;
  height: 142px;
  overflow: hidden;
  position: relative;
  margin: 0 4px;
  border-radius: 15px;
}
.gallery-image {
  width: 290px;
  height: 142px;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery__lists {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-div {
    display: none;
  }
  .gallery__lists {
    display: flex;
    padding: 48px 0 0px;
  }
  .gallery {
    width: 1440px;
    padding: 90px 92px;
  }

  .gallery__item {
    width: 229px;
    height: 407px;
    margin: 0 20px;
    border-radius: 15px;
  }
  .gallery-image {
    width: 834px;
    height: 407px;
  }
  .slick-prev:before {
    content: url("/img/gallery/button\ \(2\).png");
    margin-left: -70px;
  }
  .slick-next:before {
    content: url("/img/gallery/button\ \(3\).png");
  }
}
.features {
  width: 375px;
  height: 1220px;
  margin: auto;
  padding: 32px 20px;
  background-image: url("/img/features/Feature\ Keys.png");
}
.features-title {
  text-shadow: 2px 2px 20px rgba(255, 215, 0, 1),
    -2px -2px 20px rgba(255, 215, 0, 1);
}
.features-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  width: 335;
  height: 200;
  padding-right: 36px;
  padding-bottom: 24px;
  padding-left: 36px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(57, 57, 57, 1);
  backdrop-filter: blur(50px);
}

.features-text-bold {
  height: 44px;

  font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.features-text {
  font-family: Lora;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 587px;
    padding: 90px 72px;
    background-image: url("/img/features/Feature\ Keys\ \(1\).png");
  }
  .features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .features-item {
    width: 246.39999389648438px;
    height: 263px;

    padding-right: 36px;
    padding-bottom: 24px;
    padding-left: 36px;
  }
}
.footer {
  padding: 32px 20px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: none;
  color: rgba(244, 244, 244, 1);
}

.footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 48px 72px;
  }
  .footer-container {
    display: flex;

    align-items: stretch;

    gap: 30px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 24px;
  }
  .footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 96px 20px 40px;
}
.policy-terms-title {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0%;
}

.policy-terms-text {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 166px 72px 90px;
  }
  .policy-terms-title {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
  }

  .policy-terms-text {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 352px;

  padding: 36px 20px;
  background: rgba(10, 10, 30, 1);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(244, 244, 244, 1);
}
.cookie-button-container {
  padding: 42px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  width: 156px;
  border: 3px solid rgba(160, 32, 240, 1);
  background-color: transparent;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(244, 244, 244, 1);

  padding-top: 11px;

  padding-bottom: 11px;
}
#accept-cookies {
  background: rgba(160, 32, 240, 1);
  color: rgba(244, 244, 244, 1);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0%;
  }
  .cookie-button-container {
    gap: 48px;
    justify-content: end;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 902px;

    padding: 52px;
    display: none;
  }
  .cookie-button {
    width: 227px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
  }
}
